/* author: LPL 2016 */

body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select { padding:0; margin:0; font-family:arial; }
li { list-style:none; }


img { border:none; }


a { text-decoration:none; }
a:hover { text-decoration:underline; }

body { background:#fff url(../images/body_bg.png) repeat-x; }

#top { width:960px; height:30px; margin:0 auto; }

.top_menu { float:left; }
.top_menu li { float:left; padding-right:18px; background:url(../images/top_ico.png) no-repeat right 14px; margin-right: 15px; font-size:13px; line-height:30px; }
.top_menu a { color:#c0c0c0; }
.top_menu a:hover{ color:#fff; }
.top_menu .no_dot { background:none; }

.top_bar { float:right; }
.top_bar li { float:left; line-height:30px; color:#fff; font-weight:bold; font-size:13px; }
.top_bar .phone { background:url(../images/top_ico.png) no-repeat 4px -16px; padding:0 38px;}
.top_bar .help { background:url(../images/top_ico.png) no-repeat 0 -46px; padding:0 38px;}
.top_bar .help a { color:#fff; }
.top_bar .space { margin-right:12px; }


#header { background:url(../images/header-decr.png) no-repeat 130px 0; width:960px; height:100px; margin:0 auto; position:relative; }
#shopping {width:245px; height:100px; background:url(../images/header_bg.png) no-repeat; }
#shopping p {font-size:20px; color:#f7f7f7; position:absolute; top:30px; left:86px;}
#shopping a {display:block; width:114px;height:23px; position:absolute; top:62px; left:104px; font-size:15px; color:#ffc200; background:url(../images/header_bg.png) no-repeat 0 -103px; text-align:center; line-height:24px; text-decoration:none; font-weight:bold; }
#shopping a:hover {color:#fff200;}

#header h1 {position:absolute; margin-left:50%; left:-119px; top:0; }


#header .search { top:32px; right:0; }

.search { position:absolute; width:294px; height:34px; background:url(../images/search_bg.png) no-repeat; }
.search .text { font-size:15px; color:#666; font-weight:bold; position:absolute; background:none; border:none; width:230px; height:34px; outline:none; left:20px; }
.search .btn { position:absolute; background:none; border:none; width:44px; height:34px; outline:none; left:250px; }

#nav { width:960px; height:44px; margin:0 auto; padding-left:24px; }
#nav li { float:left; height:36px; padding-top:8px; margin:0 2px;}
#nav a { float:left; line-height:28px;  height:28px;color:#fff; font-size:16px; text-decoration:none; }
#nav strong { float:left; height:28px; }
#nav span { float:left; padding:0 14px; height:28px; }

#nav .active a { background:url(../images/nav_bg.png) repeat-x 0 -29px; }
#nav .active strong { background:url(../images/nav_bg.png) no-repeat 0 0; }
#nav .active span { background:url(../images/nav_bg.png) no-repeat right -58px; }

#content { width:1000px; margin:24px auto 0; background:url(../images/content_bg.png) repeat-y -1000px 0; }
#content_top { width:1000px;  background:url(../images/content_bg.png) no-repeat 0 0; }
#content_bottom { width:1000px;  background:url(../images/content_bg.png) no-repeat -2000px bottom; }

#ad { position:relative; width:940px; height:300px; margin: 0 auto; top:10px;}
#ad ul { position:absolute; top:0; left:0; z-index:1; }
#ad li { position:absolute; top:0; left:0; }
#ad h2 { position:absolute; bottom:12px; left:20px; color:#ffc600; font-size:25px; font-weight:bold; z-index:3; }
#ad p { position:absolute; bottom:8px; left:268px; right:40px; bottom:8px; color:#fcc; font-size:13px; z-index:3; line-height-16px;}
#ad .bg { position:absolute; bottom:0; left:0; width:940px; height:52px; background:#000; filter:alpha(opacity:80); opacity:0.8; z-index:2; }


